<div class="flex flex-col items-center px-20">
<br>
  <h1 class="text-4xl"><strong>Educational Content</strong></h1>
  <br>
  <%= form_with(url: educational_content_path, method: 'get', local: true, class: 'mb-4') do %> 
    <%= text_field_tag(:query, params[:query], placeholder: 'Search content...', class: 'form-control') %> 
    <%= submit_tag('Search', class: 'btn btn-primary') %> 
    <% if @search_results.present? %> 
      <h2 id="<%= @anchor %>">Search Results</h2> 
      <% @search_results.each do |result| %> 
        <p class="result-title"><%= result.content.title %></p>
      <% end %> 
    <% end %> 
  <% end %> 
</div>

<br>

<div class="py-8">
  <% if @videos.present? %>
    <div class="video-container">
      <% @videos.each do |video| %>
        <div class="video-box flex flex-col items-center px-20">
          <!-- Check if the content_link is present and it's a video link -->
          <% if video.content_link.present? && video.content_type == 'video' %>
            <div class="video-embed">
              <%= raw("<iframe width='866' height='487' src='#{video.content_link}' frameborder='0' allowfullscreen></iframe>") %>
            </div>
          <% end %>
          <p class="text-3xl"><strong><%= video.title %></strong></p>
          <p class="leading-loose"><%= video.description %></p>
          <br><br>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No videos available</p>
  <% end %>
</div>

<br><br>

<div class="px-20 py-8">
  <% if @articles.present? %>
    <table>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td style="width: 40%;">
              <% if article.content_link.present? %>
                <%= image_tag article.content_link, class: 'img-fluid', alt: article.title, style: 'width: 100%; height: auto;' %>
              <% end %>
            </td>
            <td class="pl-4" style="width: 60%;">
              <p class="text-3xl"><strong><%= article.title %></strong></p>
              <p class="leading-loose"><%= article.description %></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No articles available</p>
  <% end %>
</div>

<br><br>

<div class="px-20 py-8">
  <% if @infographics.present? %>
    <div class="infographic-container flex flex-col items-center px-20">
      <% @infographics.each do |infographic| %>
        <div class="text-center">
          <% if infographic.content_link.present? %>
            <%= image_tag infographic.content_link, class: 'img-fluid mx-auto', alt: infographic.title, style: 'width: 500px; height: 400px;' %>
          <% end %>
        </div>
        <p class="text-3xl"><strong><%= infographic.title %></strong></p>
        <p class="leading-loose"><%= infographic.description %></p>
        <br><br>
      <% end %>
    </div>
  <% else %>
    <p>No infographics available</p>
  <% end %>
</div>
