<div class="max-w-lg w-full	flex flex-col align-middle flex-wrap">
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <div class="flex flex-col gap-6">
    <% @posts.each do |post| %>
      <div class="post bg-white rounded-md p-4 flex flex-col gap-3">
        <div class="flex flex-row gap-2">
          <%= image_tag "help-logo.png", alt: "Help University logo", class: "rounded-full w-10 h-10" %>
          <div>
            <%= link_to post.user.username, user_path(post.user), class: 'font-bold' %>
            <p class="text-xs text-[#65676b]"><%= time_ago_in_words(post.created_at) %></p>
          </div>
        </div>
        <div>
          <strong><h2 class="text-lg"><%= post.title %></h2></strong>
          <p><%= post.description %></p>
        </div>
        <%= link_to 'View Comment', post_path(post), class:'bg-blue-500 text-sm py-2 px-5 font-bold text-white text-center' %>
      </div>
    <% end %>
  </div>
</div>